.git
.gitignore
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.mypy_cache
**/.pytest_cache
**/.ruff_cache
**/.venv
**/venv
**/env
node_modules
frontend/.next
frontend/out
frontend/node_modules
backend/.env
frontend/.env.local
.DS_Store
